.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  left: unset !important;
  top: 10px;
  right: 15px;
  height: 150px !important;
  width: 150px !important;
  max-width: unset !important;
  max-height: unset !important;
  
}
